<form method="POST" action="/searchshows">
  <label for="showSearchTerm">Show Search Term</label>
  <input
    name="showSearchTerm"
    id="showSearchTerm"
    placeholder="Please enter a show name"
  />
  <button type="submit">Search</button>
</form>